*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.primary-btn{
    width: 180px;
height: 64px;
background-color: #FF900E;
color: white;
border-radius: 8px;
border: 0;
padding: 21px 24px 20px 25px;

text-align: center;

font-size: 1.25rem;

font-weight: 600;
cursor: pointer;

}
.primary-btn:hover{
    background-color:rgba(255, 144, 14, 0.10);
    color: #FF900E;
    transition: 0.6s;
}

/* header styles */

.header{
    background: rgba(255, 144, 14, 0.10);
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-items{
    display: flex;
    
    
    color: #424242;



}
.nav-items > li{
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    list-style: none;
}
.nav-items >li >a{
    text-decoration: none;
}
.title{
    font-size: 2.8rem;
    font-weight: 700;
    color:#131313;
}


/* Banner Styles */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
}
.banner-des{
    color: #727272;

font-size: 16px;

font-weight: 400;
margin-bottom: 20px;
margin-top: 20px;

}
.banner{
    margin-top: 116px;
}
.banner-img{
    margin-top: 20px;
    width: 100%;
}




/* responsive */

/* Mobile */

@media screen and (max-width:576px) {
    .header{
        padding: 10px;
    }
    .title{
        padding: 20px;
    }
    .nav-container{
        /* display: flex; */
        flex-direction: column;
    }
}

/* tablet */

@media screen and (min-width:576px) and (max-width:960px) {
    .header{
        padding: 50px;
    }
    .nav-container{
        flex-direction: column;
    }
}